################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API crud/obj
/API crud/bin/Debug/net7.0
